<div class="w-full h-[100vh] flex flex-col p-6 gap-6 items-center justify-center">
  <h1 id="title" class="text-center text-3xl md:text-5xl font-bold text-white">
    Your Tasks
  </h1>
  <div class="w-[90vw] md:w-[30rem] min-h-[30rem] md:min-h-[40rem] overflow-y-auto border-2 border-solid border-white">
    <% @tasks.each do |task| %>
      <div class="w-full flex items-center justify-between p-4">
        <p class="text-white text-base md:text-lg w-4/5 cursor-pointer">
          <% if task.done %>
            <s>
              <%= task.text %>
            </s>
          <% else %>
            <%= task.text %>
          <% end %>
        </p>
        <div class="flex items-center gap-4">
          <button
            class="hover:text-black text-white hover:bg-white transition-colors text-sm md:text-base p-0.5 md:p-1 pl-3 md:pl-5 pr-3 md:pr-5 border-2 border-solid border-white">
            Edit
          </button>
          <%= button_to "Delete", tasks_destroy_path(task.id), method: :delete, class: "hover:text-black text-white hover:bg-white transition-colors text-sm md:text-base p-0.5 md:p-1 pl-3 md:pl-5 pr-3 md:pr-5 border-2 border-solid border-white" %>
        </div>
      </div>
    <% end %>
  </div>
</div>